body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffff;
  margin: 0;
  padding: 0;
  color: #302115;
}

header {
  background-color: pink;
  padding: 15px 0 0px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  row-gap: 0;
}

header .logo {
  width: 165px;
  grid-row: 1 / span 2;
}

header h1 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 900;
  color: #302115;
  line-height: 1;
  text-align: center;
}

header .tagline {
  grid-column: 2;
  grid-row: 2;
  margin-top: -60px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 550;
  color: #302115;
  line-height: 1;
  text-align: center;
}


nav {
  background-color:aliceblue;
  border-bottom: 1px solid #e0d5cc;
  padding: 25px 0;
  width: 100%;
  border-radius: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
  list-style: none; 
  margin: 0;
  margin-left: 160px;
}

nav a {
  color: #302115;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: #f3d9c4;
  border-radius: 15px;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero img{
  max-width: 100%;
  border-radius: 10px;
}

.intro {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.intro h2 {
  font-size: 2.3rem;
  margin-bottom: 18px;
  color: #302115
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #302115;
}


.stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
  background: #fff3fa;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

.stories h2 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #302115;
  margin-bottom: 10px;
  grid-column: 1 / -1;
}

.stories figure {
  background: white;
  border-radius: 20px;
  padding: 18px;
  border: 3px solid #302115;
}

.stories img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 12px;
}

.stories figcaption {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #302115;
  padding: 3px 5px;
}

.footer-info {
  background-color: pink;
  padding: 40px 20px;
  text-align: center;
}

.footer-info h3 {
  font-size: 1.5rem;
  color: #302115;
  margin-bottom: 8px;
  margin-top: 25px;
}

.footer-info p {
  font-size: 1.5rem;
  margin: 3px 0;
  color: #302115;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  margin-top: 0;
}

.tips {
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  text-align: center;
  background-color: paleturquoise;
}

.tips article {
  background-color: white;
  border: 2px solid #302115;
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 30px;
}


.tips h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: #302115;
}

.tips article img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 12px;
}

.tips article h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #302115;
}

.tips article p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #302115;
}

.tips-title {
  text-align: center;
  font-size: 2.3rem;
  color: #302115;
  margin-top: 40px;
}

.tips-grid {
  display: grid;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.tips-grid article {
  background: paleturquoise;
  border: 2px solid #302115;
  border-radius: 20px;
  padding: 18px;
  text-align: center;
  box-shadow: 0px 1px 1px;
}

.tips-grid figure {
  margin: 0;
}

.tips-grid img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 12px;
}

.tips-grid figcaption {
  font-size: 1.5rem;
  color: #302115;
  line-height: 1.4;
}



.about-box {
  background: paleturquoise;
  max-width: 900px;
  margin: 100px auto 40px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #302115;
  font-size: 1.5rem;
  color: #302115
}
  
.stories-title {
  text-align: center;
  font-size: 2.5rem;
  color: #302115;
  margin: 50px 0 30px;
}

.spotlight {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  gap: 30px;
  background: #fff3fa;
  border-radius: 20px;
  border: 2px solid #302115;
  align-items: center;
}

.spotlight-text h3 {
  font-size: 2.3rem;
  margin-bottom: 15px;
  color: #302115;
}

.spotlight-text p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #302115;
}

.spotlight-img img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 350px;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 30px;
  background: #fff3fa;
  background-image: url(images/logo.png);
  background-repeat: repeat;
  background-size: 70px;
  border-radius: 20px;
  border: 2px solid #302115;
}

.story-card {
  background: paleturquoise;
  border: 2px solid #302115;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.story-card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 12px;
}

.story-card figcaption {
  font-size: 1.5rem;
  color: #302115;
  line-height: 1.4;
}

.gallery-title {
  text-align: center;
  font-size: 2.3rem;
  color: #302115;
  margin: 50px 0 30px;
}

.gallery-columns {
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
  background-color: #fff3fa;
  border-radius: 20px;
  border: 2px solid #f6c9df;
}

.gallery-wrap {
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}

.column figure {
  margin: 0 0 30px;
}

.column img {
  width: 100%;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}